<!DOCTYPE html>
<html>
<head>
    <title>привет, мир!</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/index.css">
</head>
<body>
    <h1>привет, мир!</h1>
    <h2>тут будем учить джанго и html</h2>
    <h3>заголовки бывают разные</h3>
    
    <img src="{{ STATIC_URL }}img/dpb-logo.jpg" alt="лого">
    
    <h4>список с точками:</h4>
    <ul>
        <li>раз</li>
        <li>два</li>
        <li>три</li>
        <li>четыре</li>
    </ul>
    
    <h4>список с цифрами:</h4>
    <ol>
        <li>первый</li>
        <li>второй</li>
        <li>третий</li>
        <li>четвертый</li>
    </ol>
    
    <p>таблица:</p>
    <table border="1">
        <tr>
            <th>колонка 1</th>
            <th>колонка 2</th>
            <th>колонка 3</th>
            <th>колонка 4</th>
        </tr>
        <tr><td>11</td><td>12</td><td>13</td><td>14</td></tr>
        <tr><td>21</td><td>22</td><td>23</td><td>24</td></tr>
        <tr><td>31</td><td>32</td><td>33</td><td>34</td></tr>
        <tr><td>41</td><td>42</td><td>43</td><td>44</td></tr>
        <tr><td>51</td><td>52</td><td>53</td><td>54</td></tr>
    </table>
</body>
</html>