<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>вход</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/login.css">
</head>
<body>
    <div class="header">
        <img src="{{ STATIC_URL }}img/dpb-logo.jpg" alt="лого">
        <a href="/" class="back-link">все статьи</a>
        <div class="clear"></div>
    </div>
    
    <div class="content">
        <h1>вход</h1>
        
        <form method="POST" class="auth-form">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="username">логин:</label>
                <input type="text" name="username" id="username" 
                       value="{{ username }}" placeholder="твой логин">
            </div>
            
            <div class="form-group">
                <label for="password">пароль:</label>
                <input type="password" name="password" id="password" 
                       placeholder="твой пароль">
            </div>
            
            <button type="submit" class="submit-btn">войти</button>
            
            {% if error %}
            <div class="error">
                {{ error }}
            </div>
            {% endif %}
        </form>
        
        <p class="auth-link">
            нет аккаунта? <a href="/register/">зарегистрируйся</a>
        </p>
    </div>
</body>
</html>